<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h2>ジャンル編集</h2>
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>